.content-box {
    margin-top: 10px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin: 0 auto 10px;
}

.card {
    &-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-product-info {
        text-align: left;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }

    &-price {
        font-size: 20px;

        & span {
            color: #707F8D;
            font-size: 17px;
        }
    }

    &-img {
        display: block;
        height: 100%;
        width: 100%;
    }

    &-btn {
        background-color: #005bff;
        border: 1px solid #005bff;
        padding: 10px;
        border-radius: 10px;
        width: 130px;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
        transition: all .2s;

        &:hover {
            background-color: #0050e0;
            color: #fff;
        }

        &:active {
            scale: 1.1;
        }
    }
}

.img-wrapper {
    position: relative;
    cursor: pointer;
    height: 100%;
    width: 75%;

    &:hover .overlay {
        opacity: 0.6;
    }
}

.added-to-cart {
    width: 65%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1c2224;
}

.content-title {
    font-size: 28px;
}

.in-cart {
    background-color: transparent;
    border: 1px solid #005bff;
    padding: 10px;
    border-radius: 10px;
    width: 130px;
    color: #005bff;
    cursor: pointer;
    margin-top: 10px;
    transition: all .2s;

    &:hover {
        background-color: #ececec;
        color: #005bff;
    }
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;

    & h1 {
        font-weight: 400;
    }
}

.clear-cart {
    cursor: pointer;
    font-size: 32px;
    text-align: right;

    &:hover {
        opacity: .8;
    }
}

.cart-container {
    display: flex;
}

.cart-about {
    width: 100%;
    text-align: right;

    & p,
    h1 {
        font-weight: 400;
    }
}

.cards {
    max-width: 922px;
    width: 100%;
}

.block-counter {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn-counter {
    padding: 0 10px;
    font-size: 32px;
    margin-left: 5px;
    background-color: rgba(0, 150, 255, .08);
    border: none;
    border-radius: 8px;
    color: #005bff;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: rgba(0, 150, 255, .12);
        color: #0050e0;
    }
}

.item-count {
    margin: 0 10px;
}

@media screen and (max-width: 750px) {
    .cart-container {
        flex-wrap: wrap;
    }

    .cart-about {
        text-align: left;
    }
}