.item-details {
    display: flex;
    text-align: left;
    margin-top: 20px;

    & h1 {
        font-weight: 400;
    }

    &-left {
        max-width: 720px;
        width: 100%;
        height: 100%;
        margin-right: 10px;
        margin-bottom: 15px;
    }

    &-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 450px;
        width: 100%;
    }
}

.item-error {
    font-size: 30px;
}

.card-img.img-details {
    width: 65%;
}

.card-product-info-details {
    cursor: text;
}

.card-product-info-details:hover {
    opacity: 1;
}

.card-btn-details {
    text-align: center;
    width: 100%;
}

.card-price-details {
    font-size: 30px;
}

.item-description h1 {
    margin-bottom: 15px;
}

@media screen and (max-width: 885px) {
    .item-details {
        flex-wrap: wrap;
    }
    
    .item-details-right {
        max-width: none;
    }
}